[Desktop Entry]
Name=Gnuchess
Comment=Computer chess program
Comment[de]=Computerschachprogramm
Comment[es]=Juego de ajedrez de la GNU
Comment[fr]=Jeu d'échecs
Comment[pl]=Gra w szachy
Comment[pt_BR]=Jogo de xadrez da GNU
Comment[tr]=Bilgisayar satranç oyunu
Comment[ru]=Шахматная программа GNU
Comment[uk]=Шахова програма GNU
Icon=xchess
Exec=gnuchess
Terminal=true
Type=Application
Categories=Game;BoardGame;
# vi: encoding=utf-8
